<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ngTest</title>
  
  <!-- IF USING BOWER: -->
  <!-- <script src="bower_components/angular/angular.min.js"></script> -->
  <!-- <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"> -->

  <!-- IF USING CDN: -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

  <link rel="stylesheet" href="style.css">
</head>
<body ng-app="contactsApp">
  <div class="container">

    <h1>Pure Angular Contacts List</h1>
    <p><em>by <a href="https://babelthuap.github.io/">Nicholas Neumann-Chun</a></em></p>
  
    <hr>
  
    <div ng-controller="listCtrl">
      <p>
        <label for="input">Name:</label>
        <input ng-model="contact.name" type="text">
        <label for="input">Email:</label>
        <input ng-model="contact.email" type="text">
        <label for="input">Phone:</label>
        <input ng-model="contact.phone" type="text">
        <label for="input">Twitter:</label>
        <input ng-model="contact.twitter" type="text">
      </p>
      <button ng-click="add()" class="btn btn-primary">Add Contact</button>

      <div id="list" ng-show="contacts.length > 0">
        <hr>
        <label for="input">Filter:</label>
        <input ng-model="filter" type="text">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Twitter</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="c in contacts track by $index">
              <td>{{c.name}}</td>
              <td>{{c.email}}</td>
              <td>{{c.phone}}</td>
              <td>{{c.twitter}}</td>
              <td>
                <button class="btn btn-default" ng-click="delete($index)">Delete</button>
                <button class="btn btn-default" ng-click="edit($index)">Edit</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div> <!-- /container -->
  <script src="app.js"></script>
</body>
</html>































