<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ngTest</title>
  
  <!-- IF USING BOWER: -->
  <!-- <script src="bower_components/angular/angular.min.js"></script> -->
  <!-- <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"> -->

  <!-- IF USING CDN: -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

  <link rel="stylesheet" href="style.css">
</head>
<body ng-app="contactsApp">
  <div class="container">

    <div class="header">
      <h1>Pure Angular Contacts List</h1>
      <p><em>by <a href="https://babelthuap.github.io/">Nicholas Neumann-Chun</a></em></p>
    </div>

    <hr>
  
    <div ng-controller="listCtrl">
      <div class="input-form" ng-cloak>
        <p>
          <!-- I'd like to loop through the 'fields' array to create this section, but I can't figure that out -->
          <label for="input">Name:</label>
          <input ng-model="contact.name" type="text">
          <label for="input">Email:</label>
          <input ng-model="contact.email" type="text">
          <label for="input">Phone:</label>
          <input ng-model="contact.phone" type="text">
          <label for="input">Twitter:</label>
          <input ng-model="contact.twitter" type="text">
        </p>
        <button ng-click="add(contact)" class="btn btn-primary">Add Contact</button>
      </div>

      <div id="list" ng-show="contacts.length > 0" ng-cloak>
        <hr>
        <span class="filter">
          <label for="input">Filter:</label>
          <input ng-model="filter" type="text">
        </span>
        <table class="table table-striped">
          <thead>
            <tr>
              <th ng-repeat="f in Fields">{{f}}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="c in getContacts(filter) track by $index">
              <td ng-repeat="f in fields">{{c[f]}}</td>
              <td>
                <button class="btn btn-default" ng-click="delete($index)">Delete</button>
                <button class="btn btn-default" ng-click="edit($index)">Edit</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div> <!-- /container -->
  <script src="app.js"></script>
</body>
</html>































